<div class="all">
  <h1><%= @band.description() %></h1>
<font color="red">WARNING:</font> YOU ARE IN EDIT MODE! (<a href="/bands/<%= @band.id %>">Exit</a>)

<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="description">Update Band Name:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Submit</button>
</form>


<h5><a href="/bands/<%= @band.id %>/edit/venue">Edit Venue History</a></h5>
<br>

<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type = "hidden" value="delete">
  <button type="submit">CANCEL CONTRACT</button>
</form>

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/">Go Home</a>
<br>
<br>
</div>
